# Sales Analysis

In [1]:
import pandas as pd
import os

#__task1:merging 12 months of data in single file__

In [2]:
df = pd.read_csv("Pandas-Data-Science-Tasks-master/SalesAnalysis/Sales_Data/Sales_April_2019.csv")

In [3]:
df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"

In [4]:
directory = "C:/Users/Riyank/pandas/pandas_project/Pandas-Data-Science-Tasks-master/SalesAnalysis/Sales_Data"
csv_files = [file for file in os.listdir(directory)]


dataframes = [pd.read_csv(os.path.join(directory, f)) for f in csv_files]
combined_df = pd.concat(dataframes, ignore_index=True)

In [5]:
combined_df.to_csv("all_data.csv",index = False)

#__read updated combined csv data__

In [6]:
df = pd.read_csv("all_data.csv")

In [7]:
df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"

#__cleanup the data__

In [8]:
df = df.dropna(axis=0, how='any')

In [9]:
df.isnull().value_counts()

Order ID  Product  Quantity Ordered  Price Each  Order Date  Purchase Address
False     False    False             False       False       False               186305
Name: count, dtype: int64

#__find 'or' and delete it__

In [10]:
df = df[df['Order Date'].str[0:2] != 'Or']

#__add month column__

In [11]:
df['Month'] = df['Order Date'].str[0:2]

In [12]:
df['Month'] = df['Month'].astype('int32')

__Q.1 What was the best month for sales? How much money was earned that month?__

#__add sales column__

In [13]:
df['Quantity Ordered'] = df['Quantity Ordered'].astype('int32')
df['Price Each'] = df['Price Each'].astype('float')

In [14]:
df['Sales'] = df['Quantity Ordered'] * df['Price Each']

In [15]:
df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,Sales
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001",4,23.90
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215",4,99.99
3,176560,Google Phone,1,600.00,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",4,600.00
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",4,11.99
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001",4,11.99

In [16]:
result = df.groupby('Month').sum()

In [17]:
result.tail(2)

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Sales
Month,,,,,,,
11,2787972787982787992788002788012788022788032788...,Wired HeadphonesUSB-C Charging CableApple Airp...,19798,3180600.68,11/21/19 09:5411/17/19 10:0311/19/19 14:5611/2...,"46 Park St, New York City, NY 10001962 Hickory...",3199603.20
12,2956652956662956672956682956692956702956712956...,Macbook Pro LaptopLG Washing MachineUSB-C Char...,28114,4588415.41,12/30/19 00:0112/29/19 07:0312/12/19 18:2112/2...,"136 Church St, New York City, NY 10001562 2nd ...",4613443.34

In [18]:
result['Sales'].max()

4613443.34

In [19]:
max_sales_month = result['Sales'].idxmax()
max_sales_data = df[df['Month'] == max_sales_month]

In [20]:
max_sales_month

12

In [21]:
max_sales_data

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,Sales
30394,295665,Macbook Pro Laptop,1,1700.00,12/30/19 00:01,"136 Church St, New York City, NY 10001",12,1700.00
30395,295666,LG Washing Machine,1,600.00,12/29/19 07:03,"562 2nd St, New York City, NY 10001",12,600.00
30396,295667,USB-C Charging Cable,1,11.95,12/12/19 18:21,"277 Main St, New York City, NY 10001",12,11.95
30397,295668,27in FHD Monitor,1,149.99,12/22/19 15:13,"410 6th St, San Francisco, CA 94016",12,149.99
30398,295669,USB-C Charging Cable,1,11.95,12/18/19 12:38,"43 Hill St, Atlanta, GA 30301",12,11.95
...,...,...,...,...,...,...,...,...
153029,293993,AAA Batteries (4-pack),1,2.99,12/01/19 00:41,"999 10th St, San Francisco, CA 94016",12,2.99
153134,294093,USB-C Charging Cable,1,11.95,12/01/19 00:37,"51 Cherry St, New York City, NY 10001",12,11.95
153499,294441,Wired Headphones,1,11.99,12/01/19 00:52,"469 Sunset St, San Francisco, CA 94016",12,11.99
153696,294629,Wired Headphones,1,11.99,12/01/19 01:54,"668 Ridge St, San Francisco, CA 94016",12,11.99
154756,295636,AA Batteries (4-pack),2,3.84,12/01/19 00:20,"204 Walnut St, Dallas, TX 75001",12,7.68

__Q.2 what city had the highest number of sales__

#__Add city column__

In [22]:
#this is how we can split address and make list of it using split function
def split(address):
    result = address.split(',')
    return result[1]
def get_state(address):
    return address.split(',')[2].split(' ')[1]
# split("136 Church St, New York City, NY 10001")

df['City'] = df['Purchase Address'].apply(lambda x:split(x)+" "+get_state(x))

In [23]:
df.head(2)

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,Sales,City
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001",4,23.90,Dallas TX
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215",4,99.99,Boston MA

In [24]:
result_city = df.groupby('City').sum()

In [25]:
result_city.tail()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,Sales
City,,,,,,,,
New York City NY,1765721765751765791765901765991766131766371766...,Apple Airpods HeadphonesAAA Batteries (4-pack)...,27932,4635370.83,04/04/19 20:3004/27/19 00:3004/11/19 10:2304/1...,"149 Dogwood St, New York City, NY 10001433 Hil...",175741,4664317.43
Portland ME,1767731768791769091770721772301772331772991773...,AAA Batteries (4-pack)Flatscreen TVWired Headp...,2750,447189.25,04/25/19 20:0704/13/19 14:1504/22/19 09:5304/0...,"30 9th St, Portland, ME 04101370 Sunset St, Po...",17144,449758.27
Portland OR,1765831765931766171766421766461766481766621767...,AAA Batteries (4-pack)Lightning Charging Cable...,11303,1860558.22,04/20/19 12:0004/15/19 13:4504/25/19 08:0304/1...,"146 Jackson St, Portland, OR 97035906 7th St, ...",70621,1870732.34
San Francisco CA,1765621765651765731765841765861765861765941765...,USB-C Charging CableMacbook Pro LaptopUSB-C Ch...,50239,8211461.74,04/29/19 13:0304/24/19 10:3804/27/19 18:4104/2...,"381 Wilson St, San Francisco, CA 94016915 Will...",315520,8262203.91
Seattle WA,1765631765681765881766121766241766541766631766...,Bose SoundSport HeadphonesLightning Charging C...,16553,2733296.01,04/02/19 07:4604/15/19 12:1804/02/19 04:0004/0...,"668 Center St, Seattle, WA 98101438 Elm St, Se...",104941,2747755.48

In [26]:
max_sales_city = result_city['Sales'].idxmax()
max_sales_data = df[df['City'] == max_sales_city]

In [27]:
max_sales_city

' San Francisco CA'

__Q.3 what time should we display ads to maximize likelihood of customer's buying products__

In [ ]:
df['Order Date'] = pd.to_datetime(df['Order Date'])

C:\Users\Riyank\AppData\Local\Temp\ipykernel_2132\3072535395.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Order Date'] = pd.to_datetime(df['Order Date'])

In [ ]:
df['Hour'] = df['Order Date'].dt.hour
df['Minute'] = df['Order Date'].dt.minute

In [ ]:
# df.groupby('Hour').size().head()

__Q.4 what products are most often sold together__

In [ ]:
df.head()

In [ ]:
df.to_csv('C:/Users/Riyank/pandas/pandas_project/all_data.csv', index=False)