#__Dataframe is a type of data structure made using pandas , we can create dataframe multiple ways like using dataframe function using csv files using dictionary__

In [1]:
import pandas as pd
import numpy as np

In [2]:
df= pd.DataFrame(data=np.arange(0,20).reshape(5,4),index=["Row1","Row2","Row3","Row4","Row5"],columns=["Column1","Column2","Column3","Column4"])

In [12]:
df.head()

      Column1  Column2  Column3  Column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15
Row5       16       17       18       19

In [4]:
df[['Column1','Column2','Column3']]

      Column1  Column2  Column3
Row1        0        1        2
Row2        4        5        6
Row3        8        9       10
Row4       12       13       14
Row5       16       17       18

#__basic difference between data frames and series is that dataframes have multiple row and column and series have either single row or single column__

In [5]:
df.loc[['Row3','Row4']]

      Column1  Column2  Column3  Column4
Row3        8        9       10       11
Row4       12       13       14       15

In [6]:
df.iloc[1:3,0:2]

      Column1  Column2
Row2        4        5
Row3        8        9

In [7]:
df.iloc[2:,1:]

      Column2  Column3  Column4
Row3        9       10       11
Row4       13       14       15
Row5       17       18       19

#__convert dataframe into array__

In [8]:
df.iloc[:,1:].values

array([[ 1,  2,  3],
       [ 5,  6,  7],
       [ 9, 10, 11],
       [13, 14, 15],
       [17, 18, 19]])

In [9]:
type(df)

pandas.core.frame.DataFrame

#__add column in dataframe__

In [11]:
df['new_column'] = df['Column2'] + df['Column3']

NameError: name 'Column2' is not defined