In [57]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv("titanic.csv")

In [5]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
df.drop(columns=['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],inplace=True)

In [7]:
df.head()

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250
3         1       1  female  35.0  53.1000
4         0       3    male  35.0   8.0500

In [28]:
encode = OneHotEncoder(sparse_output=False)

In [29]:
arr = encode.fit_transform(df[['Sex']])

In [30]:
df1 = pd.DataFrame(arr,columns=encode.get_feature_names_out(["Sex"]))

In [33]:
final_df = pd.concat([df,df1],axis=1)

In [38]:
final_df.drop(columns='Sex',axis=1,inplace=True)

In [39]:
final_df.head()

   Survived  Pclass   Age     Fare  Sex_female  Sex_male
0         0       3  22.0   7.2500         0.0       1.0
1         1       1  38.0  71.2833         1.0       0.0
2         1       3  26.0   7.9250         1.0       0.0
3         1       1  35.0  53.1000         1.0       0.0
4         0       3  35.0   8.0500         0.0       1.0

In [41]:
final_df.isnull().sum()

Survived        0
Pclass          0
Age           177
Fare            0
Sex_female      0
Sex_male        0
dtype: int64

In [43]:
final_df['Age'].fillna(np.mean(final_df['Age']),inplace=True)

In [47]:
df.head()

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250
3         1       1  female  35.0  53.1000
4         0       3    male  35.0   8.0500

In [54]:
final_df['Age'] = final_df['Age'].astype("int32")

In [55]:
X = final_df.drop(columns='Survived',axis= 1)
Y = final_df['Survived']

In [58]:
x_train,x_test,y_train,y_test = train_test_split(X,Y,test_size=0.2,random_state=2)

In [59]:
from sklearn.naive_bayes import GaussianNB

In [60]:
model = GaussianNB()

In [61]:
model.fit(x_train,y_train)

GaussianNB()

In [62]:
model.score(x_test,y_test)

0.7597765363128491