# Sales Analysis

In [94]:
import pandas as pd
import os

#__task1:merging 12 months of data in single file__

In [95]:
df = pd.read_csv("Pandas-Data-Science-Tasks-master/SalesAnalysis/Sales_Data/Sales_April_2019.csv")

In [96]:
df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"

In [97]:
directory = "C:/Users/Riyank/pandas/pandas_project/Pandas-Data-Science-Tasks-master/SalesAnalysis/Sales_Data"
csv_files = [file for file in os.listdir(directory)]


dataframes = [pd.read_csv(os.path.join(directory, f)) for f in csv_files]
combined_df = pd.concat(dataframes, ignore_index=True)

In [98]:
combined_df.to_csv("all_data.csv",index = False)

#__read updated combined csv data__

In [99]:
df = pd.read_csv("all_data.csv")

In [100]:
df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"

#__cleanup the data__

In [101]:
df = df.dropna(axis=0, how='any')

In [103]:
df.isnull().value_counts()

Order ID  Product  Quantity Ordered  Price Each  Order Date  Purchase Address
False     False    False             False       False       False               186305
Name: count, dtype: int64

#__find 'or' and delete it__

In [120]:
df = df[df['Order Date'].str[0:2] != 'Or']

#__add month column__

In [107]:
df['Month'] = df['Order Date'].str[0:2]

In [122]:
df['Month'] = df['Month'].astype('int32')

__Q.1 What was the best month for sales? How much money was earned that month?__

#__add sales column__

In [130]:
df['Quantity Ordered'] = df['Quantity Ordered'].astype('int32')
df['Price Each'] = df['Price Each'].astype('float')

In [131]:
df['Sales'] = df['Quantity Ordered'] * df['Price Each']

In [133]:
df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,Sales
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001",4,23.90
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215",4,99.99
3,176560,Google Phone,1,600.00,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",4,600.00
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",4,11.99
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001",4,11.99

In [147]:
result = df.groupby('Month').sum()

In [151]:
result.tail(2)

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Sales
Month,,,,,,,
11,2787972787982787992788002788012788022788032788...,Wired HeadphonesUSB-C Charging CableApple Airp...,19798,3180600.68,11/21/19 09:5411/17/19 10:0311/19/19 14:5611/2...,"46 Park St, New York City, NY 10001962 Hickory...",3199603.20
12,2956652956662956672956682956692956702956712956...,Macbook Pro LaptopLG Washing MachineUSB-C Char...,28114,4588415.41,12/30/19 00:0112/29/19 07:0312/12/19 18:2112/2...,"136 Church St, New York City, NY 10001562 2nd ...",4613443.34

In [153]:
result['Sales'].max()

KeyError: 4613443.34