In [1]:
import pandas as pd
import numpy as np

In [2]:
from sqlalchemy import create_engine

#__this is how we connect database__

In [3]:
temp_db = create_engine('sqlite:///:memory:')

In [5]:
df = pd.DataFrame(data = np.random.randint(low = 0, high = 100,size=(4,4)),columns=['a','b','c','d'])

In [6]:
df

    a   b   c   d
0  98  46   9  59
1  58  31  87  36
2  11  40  92  89
3   6  96  58  27

In [7]:
df.to_sql(name = 'new_table',con=temp_db)

4

In [9]:
new_df = pd.read_sql(sql ='new_table',con=temp_db)

In [10]:
new_df

   index   a   b   c   d
0      0  98  46   9  59
1      1  58  31  87  36
2      2  11  40  92  89
3      3   6  96  58  27

In [13]:
result = pd.read_sql_query(sql="SELECT b,c FROM new_table",con=temp_db)

In [14]:
result

    b   c
0  46   9
1  31  87
2  40  92
3  96  58