In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('C:/Users/Riyank/Downloads/csv/data.csv')

In [3]:
df.head()

,ResponseId,Q120,MainBranch,Age,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,Frequency_3,TimeSearching,TimeAnswering,ProfessionalTech,Industry,SurveyLength,SurveyEase,ConvertedCompYearly,TaxPay(%),first_four
0,1,I agree,None of these,18-24 years old,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
1,2,I agree,I am a developer by profession,25-34 years old,"Employed, full-time",Remote,Hobby;Contribute to open-source projects;Boots...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;Friend or fam...,Formal documentation provided by the owner of ...,...,Never,15-30 minutes a day,15-30 minutes a day,DevOps function;Microservices;Automated testin...,"Information Services, IT, Software Development...",Appropriate in length,Easy,285000.0,0,2850.0
2,3,I agree,I am a developer by profession,45-54 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby;Professional development or self-paced l...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Formal documentation provided by the owner of ...,...,3-5 times a week,30-60 minutes a day,30-60 minutes a day,DevOps function;Microservices;Automated testin...,"Information Services, IT, Software Development...",Appropriate in length,Easy,250000.0,0,2500.0
3,4,I agree,I am a developer by profession,25-34 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Colleague;Friend or family member;Other online...,Formal documentation provided by the owner of ...,...,1-2 times a week,15-30 minutes a day,30-60 minutes a day,Automated testing;Continuous integration (CI) ...,NaN,Appropriate in length,Easy,156000.0,0,1560.0
4,5,I agree,I am a developer by profession,25-34 years old,"Employed, full-time;Independent contractor, fr...",Remote,Hobby;Contribute to open-source projects;Profe...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Online Courses or Certi...,Formal documentation provided by the owner of ...,...,3-5 times a week,60-120 minutes a day,30-60 minutes a day,Microservices;Automated testing;Observability ...,Other,Appropriate in length,Neither easy nor difficult,23456.0,0,2345.0

In [4]:
df.shape

(89184, 86)

In [5]:
df.describe()

,ResponseId,CompTotal,WorkExp,ConvertedCompYearly,TaxPay(%),first_four
count,89184.000000,4.822500e+04,43579.000000,4.801900e+04,89184.000000,48019.000000
mean,44592.500000,1.036807e+42,11.405126,1.031101e+05,0.020183,4202.945209
std,25745.347541,2.276847e+44,9.051989,6.814188e+05,0.777875,2753.300845
min,1.000000,0.000000e+00,0.000000,1.000000e+00,0.000000,1.000000
25%,22296.750000,6.300000e+04,5.000000,4.390700e+04,0.000000,1600.000000
50%,44592.500000,1.150000e+05,9.000000,7.496300e+04,0.000000,3700.000000
75%,66888.250000,2.300000e+05,16.000000,1.216410e+05,0.000000,6425.000000
max,89184.000000,5.000000e+46,50.000000,7.435143e+07,30.000000,9999.000000

In [6]:
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
ResponseId,89184.0,4.459250e+04,2.574535e+04,1.0,22296.75,44592.5,66888.25,8.918400e+04
CompTotal,48225.0,1.036807e+42,2.276847e+44,0.0,63000.00,115000.0,230000.00,5.000000e+46
WorkExp,43579.0,1.140513e+01,9.051989e+00,0.0,5.00,9.0,16.00,5.000000e+01
ConvertedCompYearly,48019.0,1.031101e+05,6.814188e+05,1.0,43907.00,74963.0,121641.00,7.435143e+07
TaxPay(%),89184.0,2.018299e-02,7.778748e-01,0.0,0.00,0.0,0.00,3.000000e+01
first_four,48019.0,4.202945e+03,2.753301e+03,1.0,1600.00,3700.0,6425.00,9.999000e+03

In [7]:
df[df.ConvertedCompYearly > 1200000].count()

ResponseId             48
Q120                   48
MainBranch             48
Age                    48
Employment             48
                       ..
SurveyLength           48
SurveyEase             48
ConvertedCompYearly    48
TaxPay(%)              48
first_four             48
Length: 86, dtype: int64

In [8]:
pwd

'C:\\Users\\Riyank\\pandas'

In [9]:
df[df['ConvertedCompYearly'] > 1000000].describe()

,ResponseId,CompTotal,WorkExp,ConvertedCompYearly,TaxPay(%),first_four
count,60.000000,6.000000e+01,31.000000,6.000000e+01,60.0,60.000000
mean,44217.133333,2.145414e+09,18.612903,8.242048e+06,30.0,2936.366667
std,24930.041118,1.316932e+10,12.018534,1.747312e+07,0.0,2501.218943
min,771.000000,9.989980e+05,1.000000,1.069822e+06,30.0,1031.000000
25%,25540.250000,1.290000e+06,7.000000,1.296269e+06,30.0,1257.500000
50%,40309.500000,2.546012e+06,18.000000,2.014380e+06,30.0,1796.000000
75%,66357.500000,1.845686e+07,26.000000,5.573120e+06,30.0,3127.000000
max,88904.000000,1.000000e+11,43.000000,7.435143e+07,30.0,9915.000000

In [10]:
df['TaxPay(%)'] = df['ConvertedCompYearly'].apply(lambda x: 30 if x > 1000000 else 0)

In [11]:
df[df['TaxPay(%)'] == 30].head()

,ResponseId,Q120,MainBranch,Age,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,Frequency_3,TimeSearching,TimeAnswering,ProfessionalTech,Industry,SurveyLength,SurveyEase,ConvertedCompYearly,TaxPay(%),first_four
770,771,I agree,I am a developer by profession,25-34 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby;Professional development or self-paced l...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","Other online resources (e.g., videos, blogs, f...",Formal documentation provided by the owner of ...,...,1-2 times a week,30-60 minutes a day,30-60 minutes a day,Automated testing;Continuous integration (CI) ...,"Manufacturing, Transportation, or Supply Chain",Too long,Easy,9000000.0,30,9000.0
5904,5905,I agree,I am a developer by profession,18-24 years old,"Independent contractor, freelancer, or self-em...",Remote,Hobby;Contribute to open-source projects;Boots...,"Professional degree (JD, MD, Ph.D, Ed.D, etc.)",Other (please specify):,NaN,...,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,2000000.0,30,2000.0
7486,7487,I agree,I am a developer by profession,35-44 years old,"Employed, full-time",Remote,Hobby;Professional development or self-paced l...,Some college/university study without earning ...,Books / Physical media;Online Courses or Certi...,NaN,...,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,1350000.0,30,1350.0
7994,7995,I agree,I am a developer by profession,45-54 years old,"Independent contractor, freelancer, or self-em...","Hybrid (some remote, some in-person)",Hobby;Bootstrapping a business;Professional de...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Online Courses or Certi...,NaN,...,1-2 times a week,30-60 minutes a day,60-120 minutes a day,DevOps function;Microservices,Retail and Consumer Services,Appropriate in length,Easy,1792064.0,30,1792.0
9393,9394,I agree,I am a developer by profession,35-44 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby;Contribute to open-source projects,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Formal documentation provided by the owner of ...,...,Never,15-30 minutes a day,60-120 minutes a day,Automated testing;Observability tools;Continuo...,NaN,Too long,Neither easy nor difficult,1300000.0,30,1300.0

In [12]:
option = ['Easy','Neither easy nor difficult']
df[df['SurveyEase'].isin(option)].head(2)

,ResponseId,Q120,MainBranch,Age,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,Frequency_3,TimeSearching,TimeAnswering,ProfessionalTech,Industry,SurveyLength,SurveyEase,ConvertedCompYearly,TaxPay(%),first_four
1,2,I agree,I am a developer by profession,25-34 years old,"Employed, full-time",Remote,Hobby;Contribute to open-source projects;Boots...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;Friend or fam...,Formal documentation provided by the owner of ...,...,Never,15-30 minutes a day,15-30 minutes a day,DevOps function;Microservices;Automated testin...,"Information Services, IT, Software Development...",Appropriate in length,Easy,285000.0,0,2850.0
2,3,I agree,I am a developer by profession,45-54 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby;Professional development or self-paced l...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Formal documentation provided by the owner of ...,...,3-5 times a week,30-60 minutes a day,30-60 minutes a day,DevOps function;Microservices;Automated testin...,"Information Services, IT, Software Development...",Appropriate in length,Easy,250000.0,0,2500.0

In [13]:
df[(df['ConvertedCompYearly'] > 300000) & (df['ConvertedCompYearly'] < 600000)].head()

,ResponseId,Q120,MainBranch,Age,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,Frequency_3,TimeSearching,TimeAnswering,ProfessionalTech,Industry,SurveyLength,SurveyEase,ConvertedCompYearly,TaxPay(%),first_four
341,342,I agree,I am a developer by profession,35-44 years old,"Independent contractor, freelancer, or self-em...",Remote,I don’t code outside of work,Some college/university study without earning ...,"Other online resources (e.g., videos, blogs, f...",Formal documentation provided by the owner of ...,...,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,350000.0,0,3500.0
405,406,I agree,I am a developer by profession,55-64 years old,"Independent contractor, freelancer, or self-em...",Remote,I don’t code outside of work,Some college/university study without earning ...,Other (please specify):,NaN,...,Never,60-120 minutes a day,15-30 minutes a day,DevOps function,NaN,Appropriate in length,Neither easy nor difficult,400000.0,0,4000.0
872,873,I agree,I am a developer by profession,35-44 years old,"Employed, full-time",Remote,Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;On the job training;Oth...,Formal documentation provided by the owner of ...,...,1-2 times a week,NaN,60-120 minutes a day,DevOps function;Microservices;Automated testin...,"Information Services, IT, Software Development...",Appropriate in length,Easy,350000.0,0,3500.0
1000,1001,I agree,I am a developer by profession,35-44 years old,"Independent contractor, freelancer, or self-em...",Remote,Hobby;Contribute to open-source projects;Profe...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Formal documentation provided by the owner of ...,...,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,372415.0,0,3724.0
1205,1206,I agree,I am a developer by profession,25-34 years old,"Employed, full-time",Remote,Other (please specify):,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Online Courses or Certification;On the job tra...,Formal documentation provided by the owner of ...,...,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,350000.0,0,3500.0

#__make custom function and apply it in dataframe__

In [14]:
def first_four(num):
    return str(num)[0:4]

In [15]:
df['first_four'] = df['ConvertedCompYearly'].apply(first_four)

In [16]:
df['RemoteWork'].value_counts()

RemoteWork
Hybrid (some remote, some in-person)    31131
Remote                                  30566
In-person                               12113
Name: count, dtype: int64

In [17]:
mymap = {'Hybrid (some remote, some in-person)':'H','Remote':'R','In-person':'I'}
df['RemoteWork'].map(mymap)

0        NaN
1          R
2          H
3          H
4          R
        ...
89179      R
89180      H
89181    NaN
89182      H
89183      H
Name: RemoteWork, Length: 89184, dtype: object

In [27]:
df.groupby('ConvertedCompYearly')

In [29]:
licences = df[['MainBranch','RemoteWork','SurveyEase','first_four']]

In [33]:
help(pd.pivot)

Help on function pivot in module pandas.core.reshape.pivot:

pivot(data: 'DataFrame', *, columns: 'IndexLabel', index: 'IndexLabel | lib.NoDefault' = <no_default>, values: 'IndexLabel | lib.NoDefault' = <no_default>) -> 'DataFrame'
    Return reshaped DataFrame organized by given index / column values.

    Reshape data (produce a "pivot" table) based on column values. Uses
    unique values from specified `index` / `columns` to form axes of the
    resulting DataFrame. This function does not support data
    aggregation, multiple values will result in a MultiIndex in the
    columns. See the :ref:`User Guide <reshaping>` for more on reshaping.

    Parameters
    ----------
    data : DataFrame
    columns : str or object or a list of str
        Column to use to make new frame's columns.
    index : str or object or a list of str, optional
        Column to use to make new frame's index. If not given, uses existing index.
    values : str, object or a list of the previous, optional
        Column(s) to use for populating new frame's values. If not
        specified, all remaining columns will be used and the result will
        have hierarchically indexed columns.

    Returns
    -------
    DataFrame
        Returns reshaped DataFrame.

    Raises
    ------
    ValueError:
        When there are any `index`, `columns` combinations with multiple
        values. `DataFrame.pivot_table` when you need to aggregate.

    See Also
    --------
    DataFrame.pivot_table : Generalization of pivot that can handle
        duplicate values for one index/column pair.
    DataFrame.unstack : Pivot based on the index values instead of a
        column.
    wide_to_long : Wide panel to long format. Less flexible but more
        user-friendly than melt.

    Notes
    -----
    For finer-tuned control, see hierarchical indexing documentation along
    with the related stack/unstack methods.

    Reference :ref:`the user guide <reshaping.pivot>` for more examples.

    Examples
    --------
    >>> df = pd.DataFrame({'foo': ['one', 'one', 'one', 'two', 'two',
    ...                            'two'],
    ...                    'bar': ['A', 'B', 'C', 'A', 'B', 'C'],
    ...                    'baz': [1, 2, 3, 4, 5, 6],
    ...                    'zoo': ['x', 'y', 'z', 'q', 'w', 't']})
    >>> df
        foo   bar  baz  zoo
    0   one   A    1    x
    1   one   B    2    y
    2   one   C    3    z
    3   two   A    4    q
    4   two   B    5    w
    5   two   C    6    t

    >>> df.pivot(index='foo', columns='bar', values='baz')
    bar  A   B   C
    foo
    one  1   2   3
    two  4   5   6

    >>> df.pivot(index='foo', columns='bar')['baz']
    bar  A   B   C
    foo
    one  1   2   3
    two  4   5   6

    >>> df.pivot(index='foo', columns='bar', values=['baz', 'zoo'])
          baz       zoo
    bar   A  B  C   A  B  C
    foo
    one   1  2  3   x  y  z
    two   4  5  6   q  w  t

    You could also assign a list of column names or a list of index names.

    >>> df = pd.DataFrame({
    ...        "lev1": [1, 1, 1, 2, 2, 2],
    ...        "lev2": [1, 1, 2, 1, 1, 2],
    ...        "lev3": [1, 2, 1, 2, 1, 2],
    ...        "lev4": [1, 2, 3, 4, 5, 6],
    ...        "values": [0, 1, 2, 3, 4, 5]})
    >>> df
        lev1 lev2 lev3 lev4 values
    0   1    1    1    1    0
    1   1    1    2    2    1
    2   1    2    1    3    2
    3   2    1    2    4    3
    4   2    1    1    5    4
    5   2    2    2    6    5

    >>> df.pivot(index="lev1", columns=["lev2", "lev3"], values="values")
    lev2    1         2
    lev3    1    2    1    2
    lev1
    1     0.0  1.0  2.0  NaN
    2     4.0  3.0  NaN  5.0

    >>> df.pivot(index=["lev1", "lev2"], columns=["lev3"], values="values")
          lev3    1    2
    lev1  lev2
       1     1  0.0  1.0
             2  2.0  NaN
       2     1  4.0  3.0
             2  NaN  5.0

    A ValueError is raised if there are any duplicates.

    >>> df = pd.DataFrame({"foo": ['one', 'one', 'two', 'two'],
    ...                    "bar": ['A', 'A', 'B', 'C'],
    ...                    "baz": [1, 2, 3, 4]})
    >>> df
       foo bar  baz
    0  one   A    1
    1  one   A    2
    2  two   B    3
    3  two   C    4

    Notice that the first two rows are the same for our `index`
    and `columns` arguments.

    >>> df.pivot(index='foo', columns='bar', values='baz')
    Traceback (most recent call last):
       ...
    ValueError: Index contains duplicate entries, cannot reshape

In [ ]:
df.to_csv('C:/Users/Riyank/Downloads/csv/data.csv', index=False)