In [1]:
import pandas as pd
import pymongo
from pymongo import MongoClient

In [2]:
mongo_url = "mongodb+srv://vaghasiyariyank:Riyank*2005@cluster0.vwlzxh8.mongodb.net/"

#__here we make connection__

In [3]:
client = MongoClient(mongo_url)

In [10]:
db = client['fruitsdb']
collection = db['fruits']

In [11]:
df = pd.DataFrame(list(collection.find()))

In [34]:
df

,_id,name,rating,review,index
0,661bc68ae8aef738d5be8acd,kelu,9.0,banana is very good food,1
1,661cd21b0dbc2235fcd488f0,orange,8.5,orange is sour so i like it taste,2
2,1,watermelon,9.0,watermelon have so much water,3
3,661cd392f8ec247c9be588f8,chiku,7.0,chiku is mithaa,4
4,661e66fa68c21eafe22a09de,pineapple,10.0,i love to eat pineapple,5
5,661e68523049ae75d6fe8db9,mango,10.0,mango is king of fruit,6

In [19]:
df = df.drop(columns='__v')

In [32]:
df['index'] = ['1','2','3','4','5','6']

In [38]:
df.set_index('index', inplace = True)

In [39]:
df

,_id,name,rating,review
index,,,,
1,661bc68ae8aef738d5be8acd,kelu,9.0,banana is very good food
2,661cd21b0dbc2235fcd488f0,orange,8.5,orange is sour so i like it taste
3,1,watermelon,9.0,watermelon have so much water
4,661cd392f8ec247c9be588f8,chiku,7.0,chiku is mithaa
5,661e66fa68c21eafe22a09de,pineapple,10.0,i love to eat pineapple
6,661e68523049ae75d6fe8db9,mango,10.0,mango is king of fruit