In [1]:
import pandas as pd

In [61]:
df = pd.read_csv('lego-analysis-master/datasets/lego_sets.csv')
theme = pd.read_csv('lego-analysis-master/datasets/parent_themes.csv')
theme.head()

    id     name  is_licensed
0    1  Technic        False
1   22  Creator        False
2   50     Town        False
3  112   Racers        False
4  126    Space        False

In [8]:
df.head(5)

,set_num,name,year,num_parts,theme_name,parent_theme
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland
1,0011-2,Town Mini-Figures,1978,NaN,Supplemental,Town
2,0011-3,Castle 2 for 1 Bonus Offer,1987,NaN,Lion Knights,Castle
3,0012-1,Space Mini-Figures,1979,12.0,Supplemental,Space
4,0013-1,Space Mini-Figures,1979,12.0,Supplemental,Space

__Question:1 what percentage of all licensed sets ever released were star wars themed?__

In [45]:
merged = df.merge(theme, left_on='parent_theme',right_on='name')

In [62]:
merged = merged.drop(columns='name_y')

In [65]:
merged.head()

,set_num,name_x,year,num_parts,theme_name,parent_theme,id,is_licensed
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland,411,False
1,00-2,Weetabix Promotional House 1,1976,NaN,Building,Legoland,411,False
2,00-3,Weetabix Promotional House 2,1976,NaN,Building,Legoland,411,False
3,00-4,Weetabix Promotional Windmill,1976,126.0,Building,Legoland,411,False
4,00-7,Weetabix Promotional Lego Village,1976,NaN,Building,Legoland,411,False

In [127]:
result = merged[(merged['parent_theme'] == 'Star Wars') & (merged['is_licensed'] == True)]

merged = merged.dropna(subset=['set_num'])

only_lincensed = merged[merged['is_licensed'] == True]

the_force = int((result.shape[0]/only_lincensed.shape[0])*100)

In [125]:
the_force

51

__Question:2 in which year star wars not the most popular lincesed theme(in terms of number of sets released that year)?__

In [191]:
sorted = only_lincensed.sort_values('year')
sorted['count'] = 1
grouped = sorted.groupby(['year','parent_theme']).sum().reset_index()
result_df = grouped.sort_values('count',ascending=False).drop_duplicates('year')
result_df.sort_values('year',inplace=True)
result_df

,year,parent_theme,set_num,name_x,num_parts,theme_name,id,is_licensed,count
0,1999,Star Wars,7161-17171-17140-17130-17128-17141-17121-17131...,Gungan SubMos Espa PodraceX-wing FighterSnowsp...,1384.0,Star Wars Episode 1Star Wars Episode 1Star War...,2054,13,13
2,2000,Star Wars,7134-13341-17159-17144-17124-17115-17104-14151...,A-wing FighterStar Wars #2 - Luke/Han/Boba Min...,2580.0,Star Wars Episode 4/5/6Star Wars Episode 4/5/6...,4108,26,26
4,2001,Star Wars,7166-17186-165028-165030-165034-18007-18008-17...,Imperial ShuttleWatto's JunkyardStar Wars Co-P...,2949.0,Star Wars Episode 4/5/6Star Wars Episode 1Star...,2212,14,14
6,2002,Star Wars,8011-165153-165145-165106-1K7204-1K7153-17163-...,Jango Fett™Jango Fett's Slave I (Set 7153) wit...,4735.0,Star WarsStar Wars Episode 2Star Wars Episode ...,4424,28,28
9,2003,Star Wars,K4487-1K4488-1K4482-1VP-10K4479-1K4480-14487-1...,Star Wars Miniatures Kit IStar Wars Miniatures...,6660.0,MiniMiniStar Wars Episode 2Star Wars OtherStar...,5056,32,32
12,2004,Star Wars,10134-17262-16964-26963-210131-1K4492-16963-1K...,Y-wing Attack Starfighter - UCSTIE Fighter and...,1659.0,Star Wars Episode 4/5/6Star Wars Episode 4/5/6...,3160,20,20
16,2005,Star Wars,7259-17258-17256-17255-17252-17257-16967-27261...,ARC-170 StarfighterWookiee AttackJedi Starfigh...,4730.0,Star Wars Episode 3Star Wars Episode 3Star War...,4424,28,28
20,2006,Star Wars,10175-110174-16205-16208-16206-16211-16212-172...,Vader's TIE Advanced - UCSImperial AT-ST - UCS...,2769.0,Star Wars Episode 4/5/6Star Wars Episode 4/5/6...,1738,11,11
24,2007,Star Wars,7660-17659-17658-17657-17656-17661-17662-17663...,Naboo N-1 Starfighter and Vulture DroidImperia...,11361.0,Star Wars Episode 1Star Wars Episode 4/5/6Star...,2528,16,16
28,2008,Star Wars,comcon001-17667-17668-17669-17669-27670-17670-...,Clone Wars Pack - San Diego Comic-Con 2008 Exc...,6865.0,Star Wars Clone WarsStar Wars OtherStar Wars O...,3634,23,23
32,2009,Star Wars,8039-18033-17748-17749-110198-17751-17752-1775...,Venator-Class Republic Attack CruiserGeneral G...,3953.0,Star Wars Clone WarsStar Wars Episode 3Star Wa...,6162,39,39
36,2010,Star Wars,8099-18084-18085-18086-18087-18088-18089-18091...,Midi-Scale Imperial Star DestroyerSnowtrooper ...,6003.0,Star Wars Episode 4/5/6Star Wars Episode 4/5/6...,4740,30,30
42,2011,Star Wars,66396-166395-166378-166377-1comcon015-17915-17...,Star Wars Super Pack 3 in 1 (7877 7929 7913)St...,3451.0,Star Wars Episode 1Star WarsStar Wars Clone Wa...,5056,32,32
47,2012,Star Wars,66432-1comcon019-1comcon024-130058-166431-1949...,"Star Wars Super Pack 3 in 1 (9490, 9492, 9496)...",6769.0,Star WarsStar WarsStar Wars Episode 4/5/6Star ...,6794,43,43
52,2013,Star Wars,75001-175000-166449-130240-130241-130242-13024...,Republic Troopers vs. Sith TroopersClone Troop...,6159.0,Star WarsStar Wars Episode 2Star WarsStar Wars...,5530,35,35
59,2014,Star Wars,75046-175045-175044-175043-175039-175041-17504...,Coruscant Police GunshipRepublic AV-7 Anti-Veh...,8293.0,Star WarsStar WarsStar WarsStar WarsStar WarsS...,7110,45,45
67,2015,Star Wars,75099-1SW911506-1SW911508-1SW911509-1SW911511-...,Rey's Speeder™SnowspeederMini Slave 1Imperial ...,11410.0,Star WarsStar Wars Episode 4/5/6MiniStar Wars ...,9164,58,58
76,2016,Star Wars,75156-175157-175159-130279-175158-130602-13060...,Krennic’s Imperial ShuttleCaptain Rex’s AT-TED...,6934.0,Star Wars Rogue OneStar Wars RebelsStar WarsSt...,9638,61,61
82,2017,Super Heroes,76075-1211701-130449-130521-17090470903-170902...,"Wonder Woman"" Warrior BattleBatmanThe MilanoTh...",13123.0,Super HeroesBatmanMarvelBatmanBatmanBatmanBatm...,34704,72,72